*{
	margin:0;
	padding:0;
	direction:rtl;
}
body{
	max-width:100%;
	height:auto;
}
.container{
    width: 1070px;
    margin: auto;
}
.header{
	background-color:#0e8e41;
}
.header .nav ul{
	list-style:none;	
}
.header .nav ul li{
	display:inline-block;
	padding:15px 0;
	font-size:35px;
}
.header .nav ul li img{
	border-radius:100%;
	 width:50px;
	 height:50px;
}
.header .nav ul li a{
	text-decoration:none;
	padding:15px;
	color:#fff;
	font-size:20px;
}

.header .nav ul li p{
	color:#fff;
	float:right;
	font-family: unset;
	
}
.header .nav ul li a:hover{
	color:#ffefbf;
}
.header .nav ul li a:active{
	color:#12644e;
}
.header .nav2{
	float:left;
}

/*End header*/
.home{
background-image:url('a2.jpg');
background-size:100% 100%;
background-repeat:no-repeat;
width:100%;
height:600px;
}

.home .write h1,h3,h4{
	font-size:35px;
	color:#ffffe0;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	
}

a{
	text-decoration:none;
	padding:15px;
	color:#3d3d66;
	font-size:20px;
}
.hello{
	font-family: sans-serif;
	font-size:25px;
	color:#664b44;
}

hr{
	height:1px;
	border-width:0;
	color:#eeeeee;
	background-color:#eeeeee;
}
/*End Portfolio*/


.features{
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
}
.features h1{
	color:#eaeaff;
	text-align:center;
	background-color:#9999ff;
	border-radius:30%;
}
.features .feat{
    float: left;
    width: 90%;
    height:auto;
	color:#8f7ab7;
}
.features .feat h2{
	color:#6ebeec;
	font-family:Georgia;
}
/*end features*/




/*start features*/
.cir{
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
	background-color:#2b4942;
	text-align:center;
}
.cir .feat h2,h1{
	color:#fff;
}
.cir .feat img{
	border-radius:100%;
	width:20%;
}
/*end features*/

footer{
	padding:15px;
	text-align:center;
	font-size:20px;
	background-color:#14352e;
	color:#ffffff;
}





















/*@media*/

@media screen and (max-width:1060px){
.container{
    width: auto;
    margin: auto;
}
.header .nav ul li{
	display:block;
}
.header .nav ul li img{
	border-radius:100%;
	 width:50px;
	 height:50px;
}
.header .nav ul li p{
	color:#fff;
	float:left;
	font-family: unset;
	
}

/*End header*/

hr{
	height:1px;
	border-width:0;
	color:#eeeeee;
	background-color:#eeeeee;
}
/*End Portfolio*/


.features{
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
	padding-left: 30px;
}
.features .feat{
    float: left;
    width: 90%;
    height:auto;
	color:#8f7ab7;
}

.features .feat h2{
	color:#6ebeec;
	font-family:Georgia;
}
/*end features*/




/*start features*/
.cir{
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
	text-align:center;
	background-color:#2b4942;
}
.cir .feat{
    float: left;
    width: 90%;
    height:auto;
}
.cir .feat img{
	border:1px solid #337ab7;
	border-radius:100%;
	width:20%;
}
.cir .feat h2,h1{
	color:#fff;
}

/*end features*/

footer{
	text-align:left;
}














/*Tablet*/
@media screen and (max-width:761px){
.home{
	height:450px;
}
.container{
    width: auto;
    margin: auto;
}
.header .nav ul li{
	display:block;
}
.header .nav ul li img{
	border-radius:100%;
	 width:50px;
	 height:50px;
}
.header .nav ul li p{
	color:#fff;
	float:left;
	font-family: unset;
	
}

/*End header*/

hr{
	height:1px;
	border-width:0;
	color:#eeeeee;
	background-color:#eeeeee;
}
/*End Portfolio*/


.features{
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
	padding-left: 30px;
}
.features .feat{
    float: left;
    width: 90%;
    height:auto;
	color:#8f7ab7;
}

.features .feat h2{
	color:#6ebeec;
	font-family:Georgia;
}
/*end features*/




/*start features*/
.cir{
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
	text-align:center;
}
.cir .feat{
    width: 90%;
    height:auto;
}
.cir .feat img{
	border:1px solid #337ab7;
	border-radius:100%;
	width:20%;
}
.cir .feat h2,h1{
	color:#fff;
}
/*end features*/

footer{
	text-align:left;
}



